@use "../../styles/variables.scss" as stylesheet;
.Section {
  width: 100%;

  display: flex;
  justify-content: center;
  flex-flow: column;

  .Main {
    display: flex;
    align-items: center;
    flex-flow: column;

    margin: 5em 0;

    font-size: 1em;

    .Meta {
      font-family: "dancingScript", cursive;
      font-size: 1.75em;

      color: white;
    }

    .Name {
      font-family: "Satisfy", cursive;
      font-size: 2em;
      text-align: center;
      // text-transform: uppercase;

      margin: 0.5em 0;

      color: white;
    }

    .Line {
      background-image: url("../../assets/icons/line.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      width: 80%;
      height: 0.5em;

      margin: 0.5em 0 2em;
    }

    .Description {
      font-family: "Poppins", sans-serif;
      font-size: 1em;
      font-weight: 300;

      width: 90%;

      text-align: center;
      line-height: 1.65em;

      color: stylesheet.$dark2;
    }
  }
}

@media (min-width: 1025px) {
  .Section {
    .Main {
      font-size: 1em;

      .Description {
        width: 65%;
        line-height: 1.75em;
      }
    }
  }
}
